<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="play(1)" class="list-group-item list-group-item-action" style="background-color: red;">Do</a>
      <a (click)="play(2)" class="list-group-item list-group-item-action" style="background-color: orange;">Re</a>
      <a (click)="play(3)" class="list-group-item yellow list-group-item-action" style="background-color: yellow;">Mi</a>
      <a (click)="play(4)" class="list-group-item list-group-item-action" style="background-color: green;">Fa</a>
      <a (click)="play(5)" class="list-group-item list-group-item-action" style="background-color: teal;">Sol</a>
      <a (click)="play(6)" class="list-group-item list-group-item-action" style="background-color: blue;">La</a>
      <a (click)="play(7)" class="list-group-item list-group-item-action" style="background-color: purple;">Si</a>
    </div>
  </div>
</div> 


<!--<audio controls>
  <source src="../assets/sonidos/note7.wav" type="audio/wav">
</audio>-->